{% extends 'base.html.twig' %}

{% block title %}BigEvents{% endblock %}

{% block body %}
    <h1>BigEvents</h1>


<main class="p-5">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ asset('pictures/' ~ big_event.image ) }}" class="img-fluid rounded-start" style="height:22rem;width:100%;object-fit:cover;">
                </div>
                <div class="col-md-8">
                    <h4 class='card-header text-center'>{{ big_event.name }}</h4>
                    <div class='card-body p-2'>
                        <p class='card-text' ><b> {{ big_event.name }} </b></p>
                        <p class='card-text'><b>  Date :  </b>{{ big_event.date ? big_event.date|date('Y-m-d') : '' }}</p>
                        <p class='card-text'><b>Start on :</b>{{ big_event.startTime ? big_event.startTime|date('H:i') : '' }}</p>
                        <p class='card-text'><b> Description :  </b> {{ big_event.description }} </p>
                        <p class='card-text'><b> Cpacity for this Event : </b>{{ big_event.capacity }} </p>
                        <p class='card-text'><b> E-mail :</b> {{ big_event.eMail }} </p>
                        <p class='card-text'><b>Phone-Number : </b>{{ big_event.phone }}</p>
                        <p class='card-text'><b>The Adress :</b><br>{{ big_event.street }}</p>
                        <p class='card-text'>{{ big_event.zipCode }}  <b>{{ big_event.cityName }}</b> </p>
                    </div>
                    <div class='card-footer text-center'>
                        <a class='btn btn-primary' href="{{ path('app_big_events_index') }}">back to list</a>
                        <a class='btn btn-success' href="{{ path('app_big_events_edit', {'id': big_event.id}) }}">Edite</a>
                       <a class='btn btn-danger'>{{ include('big_events/_delete_form.html.twig') }}</a>

                    </div>
                </div>
            </div>
        </div>

    </main>






    {# <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ big_event.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ big_event.name }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ big_event.date ? big_event.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ big_event.description }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ big_event.capacity }}</td>
            </tr>
            <tr>
                <th>EMail</th>
                <td>{{ big_event.eMail }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ big_event.phone }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ big_event.street }}</td>
            </tr>
            <tr>
                <th>ZipCode</th>
                <td>{{ big_event.zipCode }}</td>
            </tr>
            <tr>
                <th>CityName</th>
                <td>{{ big_event.cityName }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ big_event.type }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ big_event.image }}</td>
            </tr>
            <tr>
                <th>StartTime</th>
                <td>{{ big_event.startTime ? big_event.startTime|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table> #}

    

    

    
{% endblock %}
