
<nav class="navbar navbar-expand" style="background-color: #ff0000 !important;" >
  <div class="container-fluid">
    <a class="navbar-brand" style="color:white ;" href="#" >Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" style="color:white ;" aria-current="page" href="{{ asset('/big/events')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white ;" href="{{ asset('/filme')}}" >Filme Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white ;" href="{{ asset('/music')}}">Music Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white ;" href="{{ asset('/sport')}}">Sport Events</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="hero" >
    <img src="{{ asset('pictures/hero.jpg')}}" style="width: 100%; height:400px;">
</div>